
.texto1{
	 position: absolute;
      background-color: rgba(0,0,0,0.5);
      color:#fff;
      text-align: center;
      top: 100px;
	  margin:30%;
	  margin-top:15%;
	  
}
.texto2{
	 position: absolute;
	 background-color:rgba(0,0,0,0.5);
     color:#fff;
	 top: 1000px;
     text-align: center;
	  
}
.texto3{
	 position: absolute;
	 background-color: rgba(0,0,0,0.5);
     color:#fff;
	 top: 1800px;
     text-align: center;
	  
}
sobre-nos{
	position: relative;
}

h2{
	font-size:30px;
}
h1{
	font-size:60px;
}