.parte1 {
    background-image: url("../imgs/bg-contato.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: auto;
    color: white;
}

.margem {
    margin-top: 120px;
    margin-bottom: 100px;
}

.parte2 {
    background-image: url("../imgs/bg-diego.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: auto;
}

.autor {
    margin-top: 100px;
    margin-bottom: 300px;
}

.letras h5,
p,
b {
    color: black!important;
}

#butao {
    margin-left: 50%;
    margin-right: 50%;
}